/* source keypos definitions */
#include "../../../zmk-nodefree-config/keypos_def/keypos_42keys.h"

/*测试*/
/* map 6 extra keys */
#define X_LT  &mt LS(LC(LALT)) ESC
#define X_LM  &mt RS(RC(RA(RGUI))) TAB
#define X_LB  &mt LCTRL BSPC
#define X_RT  &mt RS(RC(RA(RGUI))) DEL
#define X_RM  &kp RET
#define X_RB  &kp RALT

/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "../../../base.keymap"

/* use 6-column layout*/
/ { chosen { zmk,matrix_transform = &default_transform; }; };


