#
# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config BOARD_EYELASH_SOFLE_LEFT
    bool "eyelash_sofle left"
    depends on SOC_NRF52840_QIAA

config BOARD_EYELASH_SOFLE_RIGHT
    bool "eyelash_sofle right"
    depends on SOC_NRF52840_QIAA
