ZMK_MACRO(ctrl1,
    wait-ms = <0>;
    tap-ms = <10>;
    bindings = 
        <&macro_press &kp LCTRL>,
        <&macro_tap &kp N1>,
        <&macro_release &kp LCTRL>;
) 

ZMK_MACRO(ctrl2,
    wait-ms = <0>;
    tap-ms = <10>;
    bindings = 
        <&macro_press &kp LCTRL>,
        <&macro_tap &kp N2>,
        <&macro_release &kp LCTRL>;
) 

ZMK_MACRO(ctrl3,
    wait-ms = <0>;
    tap-ms = <10>;
    bindings = 
        <&macro_press &kp LCTRL>,
        <&macro_tap &kp N3>,
        <&macro_release &kp LCTRL>;
) 


ZMK_MACRO(unfold,
    wait-ms = <0>;
    tap-ms = <10>;
    bindings = 
        <&macro_press &kp LCTRL>,
        <&macro_tap &kp K>,
        <&macro_release &kp LCTRL>
        <&macro_tap &kp J>;
)

ZMK_MACRO(fold_all,
    wait-ms = <0>;
    tap-ms = <10>;
    bindings = 
        <&macro_press &kp LCTRL>,
        <&macro_tap &kp K>,
        <&macro_release &kp LCTRL>
        <&macro_tap &kp SEMI>;
)

/*
ZMK_TAP_DANCE(fold_unfold,
    tapping-term-ms = <200>;
    bindings = <&unfold>, <&fold_all>;
)
*/