/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT0 LT1 LT2 LT3 LT4 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM0 LM1 LM2 LM3 LM4 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB0 LB1 LB2 LB3 LB4 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH0 LH1 LH2 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

compatible = "zmk,combos";

// must be same to avoid #986, possibly related to #905
#define COMBO_TERM_H 30
#define COMBO_TERM_V 30

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM) \
  combo_##NAME { \
    timeout-ms = <TERM>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

/* Capsword */
COMBO(cpwrd, &caps_word,    LM3 RM1, DEF NUM, COMBO_TERM_H)

/* Punctuation (horizontal left hand) */
COMBO(all,   &kp LC(A),     LT1 LT2, DEF NUM, COMBO_TERM_H)
COMBO(app,   &kp LG(SPACE), LT2 LT3, DEF NUM, COMBO_TERM_H)

COMBO(excl,  &kp EXCL,      LM1 LM2, DEF NUM, COMBO_TERM_H)
COMBO(qmark, &kp QMARK,     LM2 LM3, DEF NUM, COMBO_TERM_H)

COMBO(cut,   &kp LC(X),     LB1 LB3, DEF NUM, COMBO_TERM_H)
COMBO(copy,  &kp LC(INS),   LB1 LB2, DEF NUM, COMBO_TERM_H)
COMBO(paste, &kp LS(INS),   LB2 LB3, DEF NUM, COMBO_TERM_H)

/* Brackets (horizontal right hand) */
COMBO(lbrc,  &kp LBRC,      RT1 RT2, DEF NUM, COMBO_TERM_H)
COMBO(rbrc,  &kp RBRC,      RT2 RT3, DEF NUM, COMBO_TERM_H)
COMBO(lpar,  &kp LPAR,      RM1 RM2, DEF NUM, COMBO_TERM_H)
COMBO(rpar,  &kp RPAR,      RM2 RM3, DEF NUM, COMBO_TERM_H)
COMBO(lbrk,  &kp LBKT,      RB1 RB2, DEF NUM, COMBO_TERM_H)
COMBO(rbrk,  &kp RBKT,      RB2 RB3, DEF NUM, COMBO_TERM_H)

/* Other symbols (vertical combos) */
COMBO(at,    &kp AT,        LT1 LM1, DEF NUM, COMBO_TERM_V)
COMBO(hash,  &kp HASH,      LT2 LM2, DEF NUM, COMBO_TERM_V)
COMBO(dllr,  &kp DLLR,      LT3 LM3, DEF NUM, COMBO_TERM_V)
COMBO(prcnt, &kp PRCNT,     LT4 LM4, DEF NUM, COMBO_TERM_V)

COMBO(caret, &kp CARET,     RT0 RM0, DEF NUM, COMBO_TERM_V)
COMBO(plus,  &kp PLUS,      RT1 RM1, DEF NUM, COMBO_TERM_V)
COMBO(star,  &kp STAR,      RT2 RM2, DEF NUM, COMBO_TERM_V)
COMBO(amps,  &kp AMPS,      RT3 RM3, DEF NUM, COMBO_TERM_V)

COMBO(grave, &kp GRAVE,     LM1 LB1, DEF NUM, COMBO_TERM_V)
COMBO(bslh,  &kp BSLH,      LM2 LB2, DEF NUM, COMBO_TERM_V)
COMBO(tilde, &kp TILDE,     LM3 LB3, DEF NUM, COMBO_TERM_V)
COMBO(equal, &kp EQUAL,     LM4 LB4, DEF NUM, COMBO_TERM_V)

COMBO(under, &kp UNDER,     RM0 RB0, DEF NUM, COMBO_TERM_V)
COMBO(minus, &kp MINUS,     RM1 RB1, DEF NUM, COMBO_TERM_V)
COMBO(fslh,  &kp FSLH,      RM2 RB2, DEF NUM, COMBO_TERM_V)
COMBO(pipe,  &kp PIPE,      RM3 RB3, DEF NUM, COMBO_TERM_V)

