/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

// use global-quick-tap-ms for combos (requires PR 1387)
#undef COMBO_ADD_ON
#define COMBO_ADD_ON global-quick-tap-ms = <150>;

#define COMBO_TERM_FAST 20
#define COMBO_TERM_SLOW 35

/* Punctuation (horizontal left hand) */
ZMK_COMBO_ADV(num,   &tog NUM,      LT3 LT1, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(all,   &kp LC(A),     LT3 LT2, DEF NUM, COMBO_TERM_FAST)
ZMK_COMBO_ADV(app,   &kp LG(SPACE), LT2 LT1, DEF NUM, COMBO_TERM_FAST)

ZMK_COMBO_ADV(excl,  &kp EXCL,      LM3 LM2, DEF NUM, COMBO_TERM_FAST)
ZMK_COMBO_ADV(qmark, &kp QMARK,     LM2 LM1, DEF NUM, COMBO_TERM_FAST)

ZMK_COMBO_ADV(cut,   &kp LC(X),     LB3 LB1, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(copy,  &kp LC(INS),   LB3 LB2, DEF NUM, COMBO_TERM_FAST)
ZMK_COMBO_ADV(paste, &kp LS(INS),   LB2 LB1, DEF NUM, COMBO_TERM_FAST)

/* Brackets (horizontal right hand) */
ZMK_COMBO_ADV(lbrc,  &kp LBRC,      RT1 RT2, DEF NUM, COMBO_TERM_FAST)
ZMK_COMBO_ADV(rbrc,  &kp RBRC,      RT2 RT3, DEF NUM, COMBO_TERM_FAST)
ZMK_COMBO_ADV(lpar,  &kp LPAR,      RM1 RM2, DEF NUM, COMBO_TERM_FAST)
ZMK_COMBO_ADV(rpar,  &kp RPAR,      RM2 RM3, DEF NUM, COMBO_TERM_FAST)
ZMK_COMBO_ADV(lbrk,  &kp LBKT,      RB1 RB2, DEF NUM, COMBO_TERM_FAST)
ZMK_COMBO_ADV(rbrk,  &kp RBKT,      RB2 RB3, DEF NUM, COMBO_TERM_FAST)

/* Other symbols (vertical combos) */
ZMK_COMBO_ADV(at,    &kp AT,        LT3 LM3, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(hash,  &kp HASH,      LT2 LM2, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(dllr,  &kp DLLR,      LT1 LM1, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(prcnt, &kp PRCNT,     LT0 LM0, DEF NUM, COMBO_TERM_SLOW)

ZMK_COMBO_ADV(caret, &kp CARET,     RT0 RM0, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(plus,  &kp PLUS,      RT1 RM1, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(star,  &kp STAR,      RT2 RM2, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(amps,  &kp AMPS,      RT3 RM3, DEF NUM, COMBO_TERM_SLOW)

ZMK_COMBO_ADV(grave, &kp GRAVE,     LM3 LB3, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(bslh,  &kp BSLH,      LM2 LB2, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(tilde, &kp TILDE,     LM1 LB1, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(equal, &kp EQUAL,     LM0 LB0, DEF NUM, COMBO_TERM_SLOW)

ZMK_COMBO_ADV(under, &kp UNDER,     RM0 RB0, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(minus, &kp MINUS,     RM1 RB1, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(fslh,  &kp FSLH,      RM2 RB2, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(pipe,  &kp PIPE,      RM3 RB3, DEF NUM, COMBO_TERM_SLOW)

ZMK_COMBO_ADV(grk,   &sl UC,        RT1 RT3, DEF NUM, COMBO_TERM_SLOW)
ZMK_COMBO_ADV(cpgrk, &sls 0,      RT1 RT2 RT3, DEF NUM, COMBO_TERM_SLOW)
