/*
 ╭─────────────────────────┬─────────────────────────╮
 │ LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 │
 │ LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 │
 │ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
 ╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
             ╰─────────────┴─────────────╯
*/

#define COMBO_TERM_FAST 20
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 20
#define COMBO_IDLE_SLOW 50


ZMK_MACRO(m_flow, bindings = <&to 0 &kp LS(LA(LC(LG(SPACE))))>;)


// Combos overlapping HRMs are set up as hold-taps themselves to allow for instantaneous
// chording of mods. Custom hold-tap instances can be bootstrapped on the go using the
// 8-argument version of ZMK_COMBO defined in base.keymap.

// need these as valid targets for the home row mod combo function
ZMK_MACRO(minus, bindings = <&kp MINUS>;)
ZMK_MACRO(equal,  bindings = <&kp EQUAL>;)
ZMK_MACRO(under, bindings = <&kp UNDERSCORE>;)

ZMK_MACRO(bs_word_a, bindings = <&kp LA(BSPC)>;)
ZMK_MACRO(bs_word_c, bindings = <&kp LC(BSPC)>;)

ZMK_MACRO(del, bindings = <&kp DEL>;)

ZMK_MACRO(vol_dn, bindings = <&kp C_VOL_DN>;)
ZMK_MACRO(vol_up, bindings = <&kp C_VOL_UP>;)
ZMK_MACRO(trk_next, bindings = <&kp C_NEXT>;)
ZMK_MACRO(trk_prev, bindings = <&kp C_PREV>;)
ZMK_MACRO(play_pause, bindings = <&kp C_PP>;)

// LEFT HAND
// home row
ZMK_COMBO(combo_capsword, &caps_word, LM4 LM3, DEF,     COMBO_TERM_FAST, COMBO_IDLE_FAST, LC(LALT), KEYS_R)
ZMK_COMBO(combo_minus,     &minus,    LM3 LM2, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST, LG(LALT), KEYS_R)
ZMK_COMBO(combo_equal,     &equal,    LM2 LM1, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST, LS(LGUI), KEYS_R)
ZMK_COMBO(combo_under,     &under,    LM1 LM0, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST, LS(LGUI), KEYS_R)

// ZMK_COMBO(combo_numword,   &num_word, LB4 LB3, DEF,  COMBO_TERM_FAST, COMBO_IDLE_FAST)

// top row
ZMK_COMBO(combo_lt,        &kp LT,    LT4 LT3, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_paren_l,   &kp LPAR,  LT3 LT2, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_paren_r,   &kp RPAR,  LT2 LT1, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_gt,        &kp GT,    LT1 LT0, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// bottom row
ZMK_COMBO(combo_brace_l,   &kp LBRC,  LB4 LB3, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_lbkt,      &kp LBKT,  LB3 LB2, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_rbkt,      &kp RBKT,  LB2 LB1, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_brace_r,   &kp RBRC,  LB1 LB0, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// vertical lh
ZMK_COMBO(combo_lh_tab,       &kp TAB,     LT1 LM1, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_lh_ent,       &kp ENTER,   LT2 LM2, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(combo_SCRL_UP,    &msc SCRL_UP,  LT0 LM0, ALL, COMBO_TERM_FAST, COMBO_IDLE_SLOW)
ZMK_COMBO(combo_SCRL_DOWN,    &msc SCRL_DOWN,   LM0 LB0, ALL, COMBO_TERM_FAST, COMBO_IDLE_SLOW)



// ZMK_COMBO(combo_ent,       &kp ENTER,   RB2 RB3, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)





// RIGHT HAND
// home row
ZMK_COMBO(ldr,             &leader,     RM0 RM1, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST, LSHIFT, KEYS_L)
ZMK_COMBO(bspc_word_a,     &bs_word_a,  RM1 RM2, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST, LS(LGUI), KEYS_L)
ZMK_COMBO(bspc_word_c,     &bs_word_c,  RM2 RM3, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST, LG(LALT), KEYS_L)
ZMK_COMBO(del,             &del,        RM3 RM4, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST, LC(LALT), KEYS_L)

// bottom row
ZMK_COMBO(combo_ent,       &kp ENTER,   RB2 RB3, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// TODO: here
/* ZMK_COMBO(end_sentence,    &kp ENTER,   RB2 RB3, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST) */

// media keys
//
ZMK_COMBO(vol_up,          &vol_up,     RM1 RT2, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(vol_dn,          &vol_dn,     RM1 RT2, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(trk_next,        &trk_next,   RM4 RT3, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(trk_prev,        &trk_prev,   RM0 RT1, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(play_pause,      &play_pause, RT0 RT1, DEF, COMBO_TERM_FAST, COMBO_IDLE_FAST)



// vertical rh
ZMK_COMBO(combo_rh_tab,       &kp TAB,     RT1 RM1, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_rh_ent,       &kp ENTER,   RT2 RM2, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_ent,       &kp ENTER,   RB2 RB3, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_ent,       &kp ENTER,   RB2 RB3, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)


  /* TO DO - create macro */

// FLow launcher macro

ZMK_COMBO(combo_lh_flow,       &m_flow,     LM1 LH1, ALL, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(combo_rh_flow,       &m_flow,     RM1 RH1, ALL, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)


// Tap: space | Shift + tap: dot -> space -> sticky shift | Hold: nav layer.
ZMK_HOLD_TAP(lt_spc, bindings = <&mo>, <&spc_morph>; flavor = "balanced";
             tapping-term-ms = <200>; quick-tap-ms = <QUICK_TAP_MS>;)
SIMPLE_MORPH(spc_morph, SFT, &kp SPACE, &dot_spc)
ZMK_MACRO(dot_spc, bindings = <&kp DOT &kp SPACE &sk LSHFT>; wait-ms = <0>;
          tap-ms = <5>;)

/*

        macro_flow: macro_flow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &kp LS(LA(LC(LG(SPACE))))>;
            label = "MACRO_FLOW";

// UROB

// Tap: space | Shift + tap: dot -> space -> sticky shift | Hold: nav layer.
ZMK_HOLD_TAP(lt_spc, bindings = <&mo>, <&spc_morph>; flavor = "balanced";
             tapping-term-ms = <200>; quick-tap-ms = <QUICK_TAP_MS>;)
SIMPLE_MORPH(spc_morph, SFT, &kp SPACE, &dot_spc)
ZMK_MACRO(dot_spc, bindings = <&kp DOT &kp SPACE &sk LSHFT>; wait-ms = <0>;
          tap-ms = <5>;)

// Tap: backspace | Lshft + tap: delete | Rshft + tap: shift-delete.
ZMK_MOD_MORPH(bs_del, bindings = <&kp BSPC>, <&kp DEL>;
              mods = <(MOD_LSFT|MOD_RSFT)>; keep-mods = <MOD_RSFT>;)

// Tap: copy | double-tap: cut.
ZMK_TAP_DANCE(copy_cut, bindings = <&kp LC(INS)>, <&kp LC(X)>;
              tapping-term-ms = <200>;)

// Sticky shift + leader.
ZMK_MACRO(leader_sft, bindings = <&sk LSHFT &leader>;)

*/



/*
// GAME mode combos
//
// these are all 2 horizontally adjacent keys on the left hand, so it's
// important we don't have any conflicting declarations on ALL layers.
// Note: there are no home row mods in the GAM layer which simplifies things.

// middle row
ZMK_COMBO(combo_n1, &kp N1, LM5 LM4, GAM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_n2, &kp N2, LM4 LM3, GAM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_n3, &kp N3, LM3 LM2, GAM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_n4, &kp N4, LM2 LM1, GAM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_n5, &kp N5, LM1 LM0, GAM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// bottom row
ZMK_COMBO(combo_n6, &kp N6, LB5 LB4, GAM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_n7, &kp N7, LB4 LB3, GAM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_n8, &kp N8, LB3 LB2, GAM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_n9, &kp N9, LB2 LB1, GAM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_n0, &kp N0, LB1 LB0, GAM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// this leaves the top row free for some conveniences; maybe some common keys from the right side
// like Y, H, M, I, O
*/







// Macros







/*
//
// Custom Macros from original zmk-new_corne
//

ZMK_MACRO(macro_dot_shift,
    label = "MACRO_DOT_SHIFT",
    bindings = <&kp DOT &kp SPACE &sk LSHFT>;
)

ZMK_MACRO(to_mouse,
    label = "TO_MOUSE",
    bindings = <&kp LS(RG(D)) &to 5>;
)

ZMK_MACRO(macro_to_0_click,
    label = "MACRO_TO_0_CLICK",
    bindings = <&mkp RCLK &to 0>;
)

ZMK_MACRO(macro_sel_word,
    label = "MACRO_SEL_WORD",
    bindings = <&kp LC(LEFT) &kp LC(LS(RIGHT))>;
)

ZMK_MACRO(macro_sel_line,
    label = "MACRO_SEL_LINE",
    bindings = <&kp HOME &kp LS(END)>;
)

ZMK_MACRO(macro_win_sleep,
    label = "MACRO_WIN_SLEEP",
    wait-ms = <500>,
    tap-ms = <5>,
    bindings = <&kp LG(X) &kp U &kp S>;
)

ZMK_MACRO(macro_swapper,
    label = "MACRO_SWAPPER",
    bindings = <&macro_press &kp LALT &macro_tap &kp TAB &macro_release &kp LALT>;
)

ZMK_MACRO(double_click,
    label = "DOUBLE_CLICK",
    bindings = <&mkp RCLK &mkp RCLK>;
)

ZMK_MACRO(mouse_jiggle,
    label = "MOUSE_JIGGLE",
    bindings = <&to 0 &mmv MOVE_UP &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT>;
)

ZMK_MACRO(macro_copy_path,
    label = "MACRO_COPY_PATH",
    bindings = <&kp LC(L) &kp LC(C) &kp ESC>;
)
*/
