/* source key position labels */
#include "zmk-helpers/key-labels/42.h"

/* map Corne's extra keys */
#define X_LT &kp ESC
#define X_LM &kp LCTRL
#define X_LB &kp TAB
#define X_LH &none
#define X_RT &kp BSPC
#define X_RM &kp SQT
#define X_RB &none
#define X_RH &kp K_CANCEL

/* activate bluetooth */
#define CONFIG_WIRELESS 

/* source the main keymap */
#include "base.keymap"
