#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#define LEFT_HAND_KEYS 0 1 2 3 4 5 13 14 15 16 17 18 26 27 28 29 30 31 39 40 41 42 43 44 52 53 54 55 56 57
#define RIGHT_HAND_KEYS 7 8 9 10 11 12 20 21 22 23 24 25 33 34 35 36 37 38 46 47 48 49 50 51 59 60 61 62 63
#define LEFT_LEFT_COLUMN 0 13 26 39

#define QUICK_TAP_MS 175
#define ___ &trans
#define XXX &none

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/behaviors.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
/*

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

*/
/ {
    behaviors {
        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <QUICK_TAP_MS>;
            bindings = <&kp>, <&kp>;
            display-name = "Mod-Tap";
        };
        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <QUICK_TAP_MS>;
            bindings = <&mo>, <&kp>;
            display-name = "Layer-Tap";
        };
    };

  //left-most key on lower row is for an encoder (not currently present on board)
    keymap {
        compatible = "zmk,keymap";

        layer0 {
            display-name = "floor";
            bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬────────────────┬───────────────╮                   ╭────────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
   &kp ESC         &kp N1          &kp N2          &kp N3          &kp N4           &kp N5            &rgb_ug RGB_BRI   &kp N6           &kp N7          &kp N8          &kp N9          &kp N0          ___
//├───────────────┼───────────────┼───────────────┼───────────────┼────────────────┼───────────────┤                   ├────────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &kp TAB         &kp Q           &kp W           &kp E           &kp R            &kp T             &rgb_ug RGB_BRD   &kp Y            &kp U           &kp I           &kp O           &kp P           ___   
//├───────────────┼───────────────┼───────────────┼───────────────┼────────────────┼───────────────┤                   ├────────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &kp LCTRL       &kp A           &kp S           &kp D           &kp F            &kp G             &rgb_ug RGB_HUD   &kp H            &kp J           &kp K           &kp L           &kp SEMI        &kp APOS
//├───────────────┼───────────────┼───────────────┼───────────────┼────────────────┼───────────────┤                   ├────────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤ 
   &kp LSHFT       &kp Z           &kp X           &kp C           &kp V            &kp B             &rgb_ug RGB_HUI   &kp N            &kp M           &kp COMMA       &kp DOT         &kp SLASH       &kp LSHIFT
//╰───────────────┼───────────────┼───────────────┼───────────────┼────────────────┼───────────────┤                   ├────────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯ 
   XXX             ___             ___             &kp LALT        &kp SPACE        &lt 1 ENTER       &to 2             &lt 1 BACKSPACE  &mt RSHIFT SPACE &lt 2 DELETE    ___             ___   
//                ╰───────────────┴───────────────┴───────────────┴────────────────┴───────────────╯                   ╰────────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
                 >;
        };

        layer_1 {
            display-name = "mirror";
            bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
   ___             &kp F1          &kp F2          &kp F3          &kp F4          &kp F5            &mmv MOVE_UP      &kp F6          &kp F7          &kp F8          &kp F9          &kp F10         ___   
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   ___             &kp P           &kp O           &kp I           &kp U           &kp Y             &mmv MOVE_DOWN    ___             ___             ___             ___             ___             ___   
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   ___             &kp L           &kp LEFT        &kp UP          &kp RIGHT       &kp H             &mmv MOVE_LEFT    ___             ___             ___             ___             ___             ___   
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   ___             &kp K           &kp J           &kp DOWN        &kp M           &kp N             &mmv MOVE_RIGHT   ___             ___             ___             ___             ___             ___   
//╰───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯ 
   ___             ___             ___             ___             ___             ___               &mkp LCLK         ___             ___             ___             ___             ___   
//                ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────╯                   ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };

        layer_2 {
            display-name = "BLE/RGB";
            bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
   ___             &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4      ___               ___             ___             ___             ___             ___             &bt BT_CLR_ALL
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   ___             ___             ___             ___             ___             ___               ___               &rgb_ug RGB_EFF ___             ___             ___             ___             ___   
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   ___             &out OUT_USB    &out OUT_BLE    ___             ___             ___               ___               &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_BRI &rgb_ug RGB_SPI ___             ___   
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   &bootloader     ___             ___             ___             ___             ___               ___               &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_BRD &rgb_ug RGB_SPD ___             &bootloader
//╰───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯ 
   ___             &to 0           ___             ___             ___             ___               &to 0             &rgb_ug RGB_TOG ___             ___             ___             ___   
//                ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────╯                   ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };

        layer_3 {
            display-name = "clear";
            bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
   ___             ___             ___             ___             ___             ___               &mmv MOVE_UP      ___             ___             ___             ___             ___             ___   
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   ___             ___             ___             ___             ___             ___               &mmv MOVE_DOWN    ___             ___             ___             ___             ___             ___   
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   ___             ___             ___             ___             ___             ___               &mmv MOVE_LEFT    ___             ___             ___             ___             ___             ___   
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
   ___             ___             ___             ___             ___             ___               &mmv MOVE_RIGHT   ___             ___             ___             ___             ___             ___   
//╰───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤                   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────╯ 
   ___             ___             ___             ___             ___             ___               &mkp LCLK         ___             ___             ___             ___             ___   
//                ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────╯                   ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };
    };
};
