
// double_down macro
ZMK_MACRO(double_down,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = <&kp DOWN &kp DOWN>;
)

// triple_down macro
ZMK_MACRO(triple_down,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = <&kp DOWN &kp DOWN &kp DOWN>;
)

// four_down macro
ZMK_MACRO(four_down,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = <&kp DOWN &kp DOWN &kp DOWN &kp DOWN>;
)

// double_up macro
ZMK_MACRO(double_up,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = <&kp UP &kp UP>;
)

// triple_up macro
ZMK_MACRO(triple_up,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = <&kp UP &kp UP &kp UP>;
)

// triple_up macro
ZMK_MACRO(four_up,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = <&kp UP &kp UP &kp UP &kp UP>;
)

// double_left macro
ZMK_MACRO(double_left,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = 
        <&macro_press &kp LCTRL>,
        <&macro_tap &kp LEFT>,
        <&macro_tap &kp LEFT>,
        <&macro_release &kp LCTRL>;
)

// triple_left macro
ZMK_MACRO(triple_left,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = 
        <&macro_press &kp LCTRL>,
        <&macro_tap &kp LEFT>,
        <&macro_tap &kp LEFT>,
        <&macro_tap &kp LEFT>,
        <&macro_release &kp LCTRL>;
)

// four_left macro
ZMK_MACRO(four_left,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = 
        <&macro_press &kp LCTRL>,
        <&macro_tap &kp LEFT>,
        <&macro_tap &kp LEFT>,
        <&macro_tap &kp LEFT>,
        <&macro_tap &kp LEFT>,
        <&macro_release &kp LCTRL>;
)

// double_right macro
ZMK_MACRO(double_right,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = 
        <&macro_press &kp LCTRL>,
        <&macro_tap &kp RIGHT>,
        <&macro_tap &kp RIGHT>,
        <&macro_release &kp LCTRL>;
)

ZMK_MACRO(alt_shift_quote,
    wait-ms = <0>;
    tap-ms = <10>;
    bindings = 
        <&macro_press &kp RSHFT &kp RALT>,
        <&macro_tap &kp SQT>,
        <&macro_release &kp RSHFT &kp RALT>;
)

ZMK_MACRO(a_accent,
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SCROLLLOCK &kp APOS &kp A>;
)

ZMK_MACRO(e_accent,
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SCROLLLOCK &kp APOS &kp E>;
)

ZMK_MACRO(i_accent,
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SCROLLLOCK &kp APOS &kp I>;
)

ZMK_MACRO(back,
    wait-ms = <0>;
    tap-ms = <10>;
    bindings = 
        <&macro_press &kp LALT>,
        <&macro_tap &kp LEFT>,
        <&macro_release &kp LALT>;
)

ZMK_MACRO(forward,
    wait-ms = <0>;
    tap-ms = <10>;
    bindings = 
        <&macro_press &kp LALT>,
        <&macro_tap &kp RIGHT>,
        <&macro_release &kp LALT>;
)

ZMK_MACRO(o_accent,
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SCROLLLOCK &kp APOS &kp O>;
)

ZMK_MACRO(u_accent,
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <&kp SCROLLLOCK &kp APOS &kp U>;
)

ZMK_TAP_DANCE(e_tap_dance,
    tapping-term-ms = <200>;
    bindings = <&kp F8>, <&e_accent>;
)

ZMK_TAP_DANCE(a_tap_dance,
    tapping-term-ms = <200>;
    bindings = <&kp F11>, <&a_accent>;
)