/* source key position labels */
#include "zmk-helpers/key-labels/4x12_wide.h"

/* map Planck's extra keys */
#define X_MT  &none &none                // top row, middle
#define X_MM  &none &none                // middle row, middle
#define X_MB  &none &none                // bottom row, middle
#define X_LH  &none &none &kp LGUI       // thumb row, left
#define X_MH  &none &none                // thumb row, middle
#define X_RH  &smart_mouse U_WH_D U_WH_U // thumb row, right

/* source the main keymap */
#include "base.keymap"

