/* source keypos definitions */
#include "../zmk-nodefree-config/keypos_def/keypos_48keys_wide.h"

/* map Planck's extra keys */
#define EXTRA_MID   &none            &none              // 3x2 middle keys
#define EXTRA_BOT_L &none            &kp LGUI           // 1x2 bottom left keys
#define EXTRA_BOT_R &mwh SCROLL_DOWN &mwh SCROLL_UP     // 1x2 bottom right keys

/* source the main keymap */
#include "base.keymap"

