# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_TEMPER_LEFT
    def_bool $(shields_list_contains,temper_left)

config SHIELD_TEMPER_RIGHT
    def_bool $(shields_list_contains,temper_right)
