if SHIELD_CHIPPER_LEFT

config ZMK_KEYBOARD_NAME
	default "Chipper"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_CHIPPER_RIGHT

config ZMK_KEYBOARD_NAME
	default "Chipper Right"
	
endif

if SHIELD_CHIPPER_LEFT || SHIELD_CHIPPER_RIGHT

config ZMK_SPLIT
	default y

endif